<%= form_with(model: practice) do |form| %>
  <% if practice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
        <% practice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col form-group">
      <%= form.text_field :name, class:"form-control", placeholder:"Practice Name" %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col form-group">
      <%= form.text_field :phone, class:"form-control", placeholder:"Phone Number" %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col form-group">
      <%= form.text_field :address, class:"form-control", placeholder:"Address" %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-6 form-group">
      <%= form.text_field :city, class:"form-control", placeholder:"City" %>
    </div>
    <div class="col-2 form-group">
      <%= form.text_field :state, class:"form-control", placeholder:"State" %>
    </div>
    <div class="col-4 form-group">
      <%= form.text_field :zip_code, class:"form-control", placeholder:"Zip Code"%>
    </div>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
