<div id="<%= dom_id practice %>">
  <p>
    <strong>Name:</strong>
    <%= practice.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= practice.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= practice.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= practice.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= practice.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= practice.zip_code %>
  </p>

</div>
